apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-es
  labels:
    app: pvcs
spec:
  capacity:
    storage: 5Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: standard
  mountOptions:
    - hard
    - nfsvers=4.1
  nfs:
    path: /mnt/optimal/es
    server: 10.0.1.51
